root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{go,py,js,ts,tsx}]
indent_style = space

[*.go]
indent_size = 4

[*.{py,js,ts,tsx,json,yaml,yml}]
indent_size = 2

[Makefile]
indent_style = tab
